@import '../../styles/global';

.graphConteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    background-color: #2e2e2e;
    color: #fff;
    border-radius: 25px;
}

.custom-tooltip{
    padding: 3px 10px 3px 10px;
    border-radius: 20px;
    background-color: $main-bg-color;
    opacity: 0.7;

    .label{
        color: #fff;
        font-weight: bold;
    }
    .desc{
        color: #fff;
    }
}