.dashboard{
    margin-left: 15rem;
    padding: 2rem;
    height: 100%;
    color: #fff;
    .wrapper{
        margin-top: 3rem;
        height: 100%;
        .one{
            margin: 2rem 0;
        }
        .two{
            height: 70%;
            display: grid;
            grid-template-columns: 0.6fr 1fr;
            gap: 1rem;
        }
    }
}