@import '../../styles/global';

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: $main-bg-color;

    .metrics{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding: 20px 0 40px 0;
        background: transparent;
        z-index: 1;
    }

    .charts{
        display: flex;
        flex-direction: row;
        width: 95%;
        justify-content: space-between;
        margin: 30px 10px 0 10px;
        z-index: 1;
    }
}
