@import '../../styles/global';

.dashboard{
    display: flex;
    flex-direction: column;
    background-color: $main-bg-color;
    height: 92vh;
    
    .metrics{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
}