@import '../../styles/global';

.headerbar{
    height: 50px;
    width: 100%;
    background-color: $main-bg-color;
}

.headerbarWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 20px;
}

.leftSide{
    color: $main-color;
    font-size: 1.4em;
    font-weight: bold;
}