@import '../../styles/global';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

.headerbar{
    height: 50px;
    width: 100%;
    background: #8e2de2;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
}

.headerbarWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 20px;
}

.outskirts{
    display: flex;
    color: #fff;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    
    img{
        margin-right: 10px;
        height: 32px;
        width: 32px;
        background-color: #fff;
        border-radius: 100%;
    }
}