@import '../../styles/global';

.headerbar{
    height: 50px;
    width: 100%;
    background: #8e2de2;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
}

.headerbarWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 20px;
}

.leftSide{
    color: $main-color;
    font-size: 1.4em;
    font-weight: bold;
}