@import '../../styles/global';

.conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    height: 100px;
    padding: 10px;
    padding-left: 20px;
    background-color: #2e2e2e;
    color: #fff;
    border-radius: 20px;
    font-family: 'Roboto';

    .info{
        font-weight: 400;
        p{
            margin: 0;
            font-weight: 300;
            color: #dcdcdc;
        }
    }

    .graph-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 60px;
        background-color: #2e2e2e;
        color: #fff;
    }
}