@import '../../styles/global';

.container{
    display: flex;
    flex-direction: column;
    height: 92vh;
    width: 100%;
    background: $main-bg-color;

    .wrapper{
        position: absolute;
        background: linear-gradient(to right, #8e2de2 0%, #4a00e0 100%);
        width: 84vw;
        height: 40vh;
        z-index: 0;
    }

    .searchbar{
        background-color: #fff;
        width: 80%; 
        height: 6%;
        border: none;
        border-radius: 20px;
        margin-top: 35px;
        z-index: 1;
        padding: 10px;
    }
}
